<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trabalhofaculfaz">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoFaculFaz"
        tools:targetApi="31">

        <!-- Atividade principal (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Atividade TelaCadastro -->
        <activity
            android:name=".TelaCadastro"
            android:label="Tela de Cadastro"
            android:theme="@style/Theme.TrabalhoFaculFaz"
            android:exported="true">
        </activity>

        <!-- Atividade EscolhaActivity -->
        <activity
            android:name=".EscolhaActivity"
            android:label="Escolha de Animal e Colheita"
            android:theme="@style/Theme.TrabalhoFaculFaz"
            android:exported="true">
        </activity>

        <!-- Atividade CadastroAnimais -->
        <activity
            android:name=".CadastroAnimais"
            android:label="Cadastro de Animais"
            android:theme="@style/Theme.TrabalhoFaculFaz"
            android:exported="true">
        </activity>

        <!-- Atividade CadastroColheitas -->
        <activity
            android:name=".CadastroColheitas"
            android:label="Cadastro de Colheitas"
            android:theme="@style/Theme.TrabalhoFaculFaz"
            android:exported="true">
        </activity>

    </application>
</manifest>
